#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1rem;
  background-color: rgba(83, 83, 83, 0.3);
  border-radius: 10px;
  width: 500px;
  .editor{
    padding: 1rem 0;
  }
  .actactoins{
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tools{
      background-color: rgba(239, 235, 235, 0.3);
    }
  }

}

.read-the-docs {
  color: #191010;
}
.h1{
  padding-left: 1rem;
}